.popup {
  position: absolute;
  top: 15vh;
  z-index: 3;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460px;
    min-height: 448px;
    padding: 1rem;
    box-shadow: 2px 2px 38px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #fff;
    .name-events {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;
      &_btn {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
        font-size: 24px;
        &:hover {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          height: 30px;
          width: 30px;
          background-color: #70757a;
          color: white;
          border-radius: 50%;
          margin: 0;
        }
      }
      &_input {
        width: 90%;
        border: 0;
        border-bottom: 2px solid #1a73e8;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .date-events {
    display: flex;
    &_img {
      font-size: 24px;
      margin-right: 16px;
    }
    &_input {
      border: 0;
      font-size: 15px;
      width: 25%;
    }
    .time-input {
      width: 20%;
    }
  }
  .description {
    display: flex;
    &_img {
      display: flex;
      align-items: center;
      margin-right: 16px;
      font-size: 24px;
    }
    &_textarea {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;

      &__input {
        width: 100%;
        border: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 30px;
        ::-webkit-input-placeholder {
          text-align: center;
        }
      }
    }
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &_form {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 36px;
      text-decoration: none;
      text-transform: none;
      background-color: #1a73e8;
      color: #fff;
      border: 0;
      border-radius: 5px;
    }
  }
}
