* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #70757a;
}
.app {
  overflow: hidden;
  position: fixed;
}
.header-main {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  .header-left {
    margin-left: 1rem;
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    &_btn {
      border-radius: 24px;
      height: 48px;
      width: 140px;
      box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        -4px 4px 6px -1px rgba(0, 0, 0, 0.2);
      font-weight: 400;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;

      &__title {
        padding-left: 0.62rem;
      }
    }
    &_square {
      color: #3c4043;
      background-color: transparent;
      border: 1px solid #dadce0;
      border-radius: 4px;
      box-sizing: border-box;
      height: 40px;
      width: 100px;
      font-weight: 600;
    }
  }
  .header-rigth {
    display: flex;
    width: 25%;
    justify-content: space-around;
    &_btn {
      border: 0;
      background-color: transparent;
      font-size: 25px;
    }
    &_mounth {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      &_main {
        margin-left: 12px;
      }
      &_dash {
        margin-left: 12px;
      }
    }
  }
}
.date-container {
  width: 98.9vw;
  display: grid;
  grid-template-rows: 8rem;
  grid-auto-rows: 5rem;
  grid-template-columns: 5.28rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  .day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dadce0;
    &::before {
      content: "";
      position: absolute;
      border-right: 1px solid #dadce0;
      bottom: -0;
      height: 20px;
      margin-left: -6.37rem;
    }
    &_text {
      font-size: 18px;
      color: #70757a;
    }
    &_number {
      font-size: 25px;
      color: #70757a;
      font-weight: 600;
      margin-top: 1rem;
      &:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        height: 50px;
        width: 50px;
        background-color: #70757a;
        color: white;
        border-radius: 50%;
        margin: 0;
      }
    }
    .current-day {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      height: 50px;
      width: 50px;
      background-color: blue;
      color: white;
      border-radius: 50%;
      margin: 0;
    }
    .radius {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      height: 50px;
      width: 50px;
      background-color: #1a73e8;
      color: white;
      border-radius: 50%;
      margin: 0;
    }
  }
  .timezone {
    justify-content: flex-end;
    align-items: flex-start;
    left: -3px;
  }
}
.wrapper {
  overflow: hidden;
  width: 100vw;
  .time-boxes {
    display: flex;
    position: relative;
    overflow-y: scroll;
    height: 70vh;

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 5.3rem;

      .time-contaiter {
        height: 5rem;
        display: flex;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          border-bottom: 2px solid #dadce0;
          right: 49px;
          pointer-events: none;
          width: 12px;
          top: 79px;
        }
        &_text {
          flex-direction: column;
          align-items: flex-end;
          padding: 72px;
        }
      }
    }
    .rectangle {
      display: grid;
      grid-auto-rows: 5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      &_box {
        font-size: 5vw;
        text-align: center;
        border: 1px solid #dadce0;
        &_time {
          position: relative;
          .red-line {
            position: absolute;
            width: 100%;
            &_circle {
              background: #ea4335;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              content: "";
              position: absolute;
              height: 12px;
              margin-left: -6.5px;
              margin-top: -5px;
              width: 12px;
              z-index: 1;
              bottom: -33px;
            }
            &_line {
              position: absolute;
              z-index: 1;
              border-top: #ea4335 solid 2px;
              left: 0;
              right: 0;
              pointer-events: none;
              bottom: -29px;
            }
          }
        }
      }
    }
  }
}
.popup {
  position: absolute;
  top: 15vh;
  z-index: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460px;
    min-height: 448px;
    padding: 1rem;
    box-shadow: 2px 2px 38px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #fff;
    .name-events {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;
      &_btn {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
        font-size: 24px;
      }
      &_input {
        width: 90%;
        border: 0;
        border-bottom: 2px solid #1a73e8;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .date-events {
    display: flex;
    &_img {
      font-size: 24px;
      margin-right: 16px;
    }
    &_input {
      border: 0;
      font-size: 15px;
      width: 25%;
    }
    .time-input {
      width: 20%;
    }
  }
  .description {
    display: flex;
    &_img {
      display: flex;
      align-items: center;
      margin-right: 16px;
      font-size: 24px;
    }
    &_textarea {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;

      &__input {
        width: 100%;
        border: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 30px;
        ::-webkit-input-placeholder {
          text-align: center;
        }
      }
    }
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &_form {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 36px;
      text-decoration: none;
      text-transform: none;
      background-color: #1a73e8;
      color: #fff;
      border: 0;
      border-radius: 5px;
    }
  }
}
