.time-in-day__box {
  font-size: 5vw;
  text-align: center;
  border: 1px solid #dadce0;
  position: relative;
  display: flex;
  align-items: center;
  &_event {
    position: absolute;
    background-color: #327ac0;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.3);
    .title {
      color: #fff;
      font-size: 14px;
      text-align: center;
      font-weight: 300;
    }
    .clock-box {
      display: flex;
      color: #fff;
      font-size: 15px;
      justify-content: center;
      &_hyphen {
        padding: 0 7px;
      }
    }
  }
}
